body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url(blur.jpg);
    background-size: cover;
  }
  
  .recipe-card {
     background-color: 	#fffdd0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  
  }
  
  h1 {
    color: #FF8C00;
    text-align: center;
  }
  
  h2 {
    color: #555;
    margin-top: 20px;
  }
  
  ul, ol {
    color: #777;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  strong {
    color: #333;
  }
  
  .recipe-card img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 55%;
    top: 20%;
  }


 
  
  
  /* Responsive styles */
  @media (max-width: 1032px) {
    .recipe-card img {
      display: none;
    }
  }
    