body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #d72323;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  font-size: 20px;
}

.navbar a:hover {
  background-color: rgb(21, 20, 20);
  border-radius: 25px;
}

.navbar img {
  width: 70px;
}


/*grid*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;

  padding: 20px;
  background-image: url(blur.jpg);
  background-size: cover;

}

.product-item {
  text-align: center;
   margin: 10px; 
   padding: 10px;  
  border: 1px solid #ccc;
  width: 350px;
  /* Adjust as needed */
  background-color: rgb(239, 233, 233);

  border-radius: 20px;
}

.product-item img {
  max-width: 100%;
  height: 15rem;
}

.product-item p {
  margin: 10px 0;
  font-size: medium;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.product-item:hover {
  background-color:#DEB887;
  border-radius: 25px;
}

.product-item button {
  background-color: red;
  border-radius: 15px;
  font-size: larger;
  color: white;
}